<a href="https://colab.research.google.com/github/Harshaveenakondeti/python-in-google-colab/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
* general package
* data cleaning,data wrangling,missing values
* Data manipulation package
* data is not clean,inconsistent,typoligical issues ,ex=date column as 2022-3-4,3-4-2022,it can be multiple ways.
*  machine needs data in one column to be same type
* we can clean data, it is not an independent package
* pandas is dependen on numpy
* it can also handle n dimensional array
* pandas stand for panel data(or python data analysis library), it is used to analyse data.
* pandas helpful to all data science projects to explore data, to manipulate data and also to visualize data.
* pandas great for >4000 rows easily
* numpy faster
* in general csv,tabular format

##  Data Structures: Series & Dataframes
* series is 1 d data structure
* dataframes is  2d datasrtucture,Tabuar-rows and columns
* it can consists of any data type

## Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a=pd.Series([1,2,3,4]) # it will create index
a

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# we can give index also
ind=["A","B","C","D","E"]  # index values
a=pd.Series([1,2,3,4,5],index=ind)  # it will replace default index
a

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [ ]:
a["A"]  # access values through index, no column index for series

1

## DataFrames

In [ ]:
df=pd.DataFrame([1,2,3,4,5])  # it create row n column index
df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
df=pd.DataFrame([1,2,3,4],index=['A','B','C','D'])  # we can create own indexing
df

   0
A  1
B  2
C  3
D  4

In [ ]:

df=pd.DataFrame([1,2,3,4],index=['A','B','C','D'],columns=['value'])   # we can give column name
df

   value
A      1
B      2
C      3
D      4

## Creating df
1. from lists of lists
2.from dict of arraya/lists
3.from list of dict
4.by using zip() func.
5.using arrays
6.from dict of series
* The traditional method is supply the dataframe name and then supplying values to it.

In [ ]:
# traditional way
df1= pd.DataFrame([1,2,3],index=['A','B','C'],columns=['apple'])  
df1

   apple
A      1
B      2
C      3

In [ ]:
import random # random values library
import string  # strings importing randomly

In [ ]:
names= [string.ascii_uppercase[i] for i in range(10)]   # from string lib, first 10 alphabet uppercase charecters will be names
names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
age=[random.randint(10,18) for i in range(10)]  # from random lib,  10 integersb/n 10 n 18 be age
age

[18, 17, 17, 15, 12, 18, 15, 15, 16, 14]

In [ ]:
gender=['M','F']*5  # it will gives 5 times of M ,F ,means 10 gender values given
gender

['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F']

In [ ]:
marks=[random.randint(30,100) for i in range(10)]  # create marks for 10 values b/n 30 n 100
marks

[38, 33, 49, 43, 36, 88, 71, 78, 72, 96]

In [ ]:
# create table
students= pd.DataFrame({"names":names,"Age":age,"gender":gender,"marks":marks})  # by using all columns we creae dataframe,by specifying column names
students

  names  Age gender  marks
0     A   18      M     38
1     B   17      F     33
2     C   17      M     49
3     D   15      F     43
4     E   12      M     36
5     F   18      F     88
6     G   15      M     71
7     H   15      F     78
8     I   16      M     72
9     J   14      F     96

In [ ]:
stu_id=[random.randint(1,20) for i in range(10)]  # creating student ids randomly
stu_id

[12, 20, 17, 7, 14, 3, 7, 19, 19, 20]

In [ ]:
students= pd.DataFrame({"ID":stu_id,"names":names,"Age":age,"gender":gender,"marks":marks})  # by using all columns we creae dataframe,by specifying column names
students

   ID names  Age gender  marks
0  12     A   18      M     38
1  20     B   17      F     33
2  17     C   17      M     49
3   7     D   15      F     43
4  14     E   12      M     36
5   3     F   18      F     88
6   7     G   15      M     71
7  19     H   15      F     78
8  19     I   16      M     72
9  20     J   14      F     96

In [ ]:
type(students)

pandas.core.frame.DataFrame

In [ ]:
students['Location']=['banglore','chennai','pune','hyd','mumbai']*2  # add location

In [ ]:
students

   ID names  Age gender  marks  Location
0  12     A   18      M     38  banglore
1  20     B   17      F     33   chennai
2  17     C   17      M     49      pune
3   7     D   15      F     43       hyd
4  14     E   12      M     36    mumbai
5   3     F   18      F     88  banglore
6   7     G   15      M     71   chennai
7  19     H   15      F     78      pune
8  19     I   16      M     72       hyd
9  20     J   14      F     96    mumbai

In [ ]:
# id as index
students= pd.DataFrame({"names":names,"Age":age,"gender":gender,"marks":marks},index=stu_id)
students

   names  Age gender  marks
12     A   18      M     38
20     B   17      F     33
17     C   17      M     49
7      D   15      F     43
14     E   12      M     36
3      F   18      F     88
7      G   15      M     71
19     H   15      F     78
19     I   16      M     72
20     J   14      F     96

In [ ]:
students.loc[20]

   names  Age gender  marks
20     B   17      F     33
20     J   14      F     96

In [ ]:
students['Age']

12    18
20    17
17    17
7     15
14    12
3     18
7     15
19    15
19    16
20    14
Name: Age, dtype: int64

## Accesing Dataframes
you can access the rows of data frames using location(loc) and index location(iloc), columns u can access directly

In [ ]:
df=pd.DataFrame(np.random.randint(10,100,(10,4)),columns = list("ABCD"))  # create datframe (start,end,(table rows,columns))
df

    A   B   C   D
0  50  89  83  17
1  92  67  66  92
2  40  55  66  51
3  77  56  82  82
4  25  33  92  21
5  91  65  68  78
6  93  95  76  94
7  88  90  95  20
8  38  20  20  31
9  45  49  83  61

In [ ]:
df['A'] # columns access direcltly

0    50
1    92
2    40
3    77
4    25
5    91
6    93
7    88
8    38
9    45
Name: A, dtype: int64

In [ ]:
 # rows can be accessed with loc or row location fun
 df.loc[::]     # both start func,end posion will be included in loc func

    A   B   C   D
0  50  89  83  17
1  92  67  66  92
2  40  55  66  51
3  77  56  82  82
4  25  33  92  21
5  91  65  68  78
6  93  95  76  94
7  88  90  95  20
8  38  20  20  31
9  45  49  83  61

In [ ]:
df.loc[:4:]

    A   B   C   D
0  50  89  83  17
1  92  67  66  92
2  40  55  66  51
3  77  56  82  82
4  25  33  92  21

In [ ]:
df.loc[:4:2]  # row index4.step index 2

    A   B   C   D
0  50  89  83  17
2  40  55  66  51
4  25  33  92  21

In [ ]:
df.loc[[1,3,5],:]  #only give wanted rows

    A   B   C   D
1  92  67  66  92
3  77  56  82  82
5  91  65  68  78

In [ ]:
df.loc[:,['A','C']]  # with particular column names

    A   C
0  50  83
1  92  66
2  40  66
3  77  82
4  25  92
5  91  68
6  93  76
7  88  95
8  38  20
9  45  83

In [ ]:
df.loc[[1,3,5,7],['A','D']] # with particular rows n columns

    A   D
1  92  92
3  77  82
5  91  78
7  88  20

In [ ]:
df.loc[1:6,'A':'C']  # from 1 to 6 rows and A o C columns

    A   B   C
1  92  67  66
2  40  55  66
3  77  56  82
4  25  33  92
5  91  65  68
6  93  95  76

In [ ]:
# dates
dates= pd.date_range(start="2022-12-4",periods=10, freq="D")
dates

DatetimeIndex(['2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07',
               '2022-12-08', '2022-12-09', '2022-12-10', '2022-12-11',
               '2022-12-12', '2022-12-13'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df1=pd.DataFrame(np.random.randint(10,100,(10,4)),columns = list("ABCD"),index=dates)  # create datframe (start,end,(table rows,columns))
df1

             A   B   C   D
2022-12-04  50  47  76  76
2022-12-05  99  98  17  46
2022-12-06  63  48  70  30
2022-12-07  14  76  65  75
2022-12-08  63  75  15  12
2022-12-09  49  42  88  52
2022-12-10  26  49  82  12
2022-12-11  58  90  22  65
2022-12-12  45  85  21  25
2022-12-13  62  69  74  81

In [ ]:
df1.loc["2022-12-04":"2022-12-08",:]   # loc can access name of index ,not position of index

             A   B   C   D
2022-12-04  50  47  76  76
2022-12-05  99  98  17  46
2022-12-06  63  48  70  30
2022-12-07  14  76  65  75
2022-12-08  63  75  15  12

In [ ]:
df1.iloc[2:5,1:] # iloc means index location will exclude end position

             B   C   D
2022-12-06  48  70  30
2022-12-07  76  65  75
2022-12-08  75  15  12

In [ ]:
df1.iloc[[1,3,5],[0,2]]  # this will give particular number of rows n columns

             A   C
2022-12-05  99  17
2022-12-07  14  65
2022-12-09  49  88

In [ ]:
df1.iloc[1:4,2:]   # accessing 1 to 4 and 2nd column to all

             C   D
2022-12-05  17  46
2022-12-06  70  30
2022-12-07  65  75

## Sorting

In [ ]:
df1.sort_index()  # it will sort rows in ascendig order

             A   B   C   D
2022-12-04  50  47  76  76
2022-12-05  99  98  17  46
2022-12-06  63  48  70  30
2022-12-07  14  76  65  75
2022-12-08  63  75  15  12
2022-12-09  49  42  88  52
2022-12-10  26  49  82  12
2022-12-11  58  90  22  65
2022-12-12  45  85  21  25
2022-12-13  62  69  74  81

In [ ]:
df1.sort_index(ascending=False)   # high to small data,rows sorted in descending order

             A   B   C   D
2022-12-13  62  69  74  81
2022-12-12  45  85  21  25
2022-12-11  58  90  22  65
2022-12-10  26  49  82  12
2022-12-09  49  42  88  52
2022-12-08  63  75  15  12
2022-12-07  14  76  65  75
2022-12-06  63  48  70  30
2022-12-05  99  98  17  46
2022-12-04  50  47  76  76

In [ ]:
df1.sort_values('A')  # it will sort column a in ascending order

             A   B   C   D
2022-12-07  14  76  65  75
2022-12-10  26  49  82  12
2022-12-12  45  85  21  25
2022-12-09  49  42  88  52
2022-12-04  50  47  76  76
2022-12-11  58  90  22  65
2022-12-13  62  69  74  81
2022-12-06  63  48  70  30
2022-12-08  63  75  15  12
2022-12-05  99  98  17  46

In [ ]:
df1.sort_values('A',ascending=False)  # it will sort in descending order

             A   B   C   D
2022-12-05  99  98  17  46
2022-12-06  63  48  70  30
2022-12-08  63  75  15  12
2022-12-13  62  69  74  81
2022-12-11  58  90  22  65
2022-12-04  50  47  76  76
2022-12-09  49  42  88  52
2022-12-12  45  85  21  25
2022-12-10  26  49  82  12
2022-12-07  14  76  65  75

In [ ]:
students.sort_values(['Age','marks'])

   names  Age gender  marks
14     E   12      M     36
20     J   14      F     96
7      D   15      F     43
7      G   15      M     71
19     H   15      F     78
19     I   16      M     72
20     B   17      F     33
17     C   17      M     49
12     A   18      M     38
3      F   18      F     88

## Boolean Indexing
when we lookout for particular info,
we have to select subset of data based on the actual values of data in dataframe and not based on their row or column. labels or integer locations

In [ ]:
students['Age']>10  # gives boolean output of particular condition

12    True
20    True
17    True
7     True
14    True
3     True
7     True
19    True
19    True
20    True
Name: Age, dtype: bool

In [ ]:
# to get values satisfyig condition
students[students['Age']>13]

   names  Age gender  marks
12     A   18      M     38
20     B   17      F     33
17     C   17      M     49
7      D   15      F     43
3      F   18      F     88
7      G   15      M     71
19     H   15      F     78
19     I   16      M     72
20     J   14      F     96

In [ ]:
students[students['Age']>13]["names"]   # only gives names satisfying condiion

12    A
20    B
17    C
7     D
3     F
7     G
19    H
19    I
20    J
Name: names, dtype: object

In [ ]:
students[students['Age']>13][["names","marks"]]

   names  marks
12     A     38
20     B     33
17     C     49
7      D     43
3      F     88
7      G     71
19     H     78
19     I     72
20     J     96

In [ ]:
students["marks"].mean()  # mean of marks

60.4

In [ ]:
aboveavg= students["marks"] > students["marks"].mean()

creating aboveavg variable, condition values will assign in to it

In [ ]:
students[aboveavg]

   names  Age gender  marks
3      F   18      F     88
7      G   15      M     71
19     H   15      F     78
19     I   16      M     72
20     J   14      F     96

In [ ]:
students[aboveavg].sort_values('marks')

   names  Age gender  marks
7      G   15      M     71
19     I   16      M     72
19     H   15      F     78
3      F   18      F     88
20     J   14      F     96

In [ ]:
students['gender']=='M'

12     True
20    False
17     True
7     False
14     True
3     False
7      True
19    False
19     True
20    False
Name: gender, dtype: bool